<div class="inner">
<p>欢迎来到后台管理系统。
<br />
“个人资料”可以修改本人账号信息，个人信息和基金项目信息。<br />
“基金项目管理”可以修改本人基金项目信息<br />
“成员管理”可以看到本实验室所有成员列表和详情。老师可以修改成员信息和新增成员。<br />
“共享资料”可以查看到所有的共享资料，包括海报，总结资料等。<br />
“评论管理”可以看到实验室成员或者匿名用户对共享资料的评论和网站的留言。</p>
</div>


