@using (Html.BeginForm("CheckLogIn", "Member", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="inner">
        <div class="block">
            <div class="blocktitle">
                <h3>
                    管理系统登录</h3>
            </div>
            <div class="blockcontent">
                <div class="center" style="width: 300px; line-height: 50px">
                    <table>
                        <tr>
                            <td>
                                <b>用户名: </b>
                            </td>
                            <td>
                                @Html.TextBox("username")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>密码:</b>
                            </td>
                            <td>
                                @Html.TextBox("password")
                            </td>
                        </tr>
                    </table>
                    <button type="reset" class="btn">
                        重置</button>
                    <button type="submit" class="btn">
                        登录</button>
                </div>
            </div>
        </div>
    </div>
}
