<div class="inner">
    <div class="block">
        <div class="blocktitle">
            <h3>
                论文数据库管理</h3>
        </div>
        <div class="blockcontent">
            <p>
                点击以下链接，将从Google Scholar 网站同步论文信息。<br /><b>请谨慎操作：</b><br />
                @Html.ActionLink("更新论文数据库", "Update", "Publication")
            </p>
        </div>
    </div>
</div>
