<div class="inner">
    <div class="block">
        <div class="blocktitle">
            <h3>
                网站管理</h3>
        </div>
        <div class="blockcontent">
            <div style="padding: 20px 10px 20px 10px; text-indent: 20px;">
                <p>
                    你可以进行以下操作：
                </p>
            </div>
            <table class="full">
                <tr>
                    <td>
                        @Html.ActionLink("更新网站首页内容", "EditWelcomePage", "Admin")
                    </td>
                </tr>
            </table>
            </p>
        </div>
    </div>
</div>
